<!DOCTYPE html>
<html lang="en">

<head>
 <title>Syllektis HQ | <%- pageName %>
 </title>
 <link href="/css/global.css" rel="stylesheet" type="text/css">
</head>

<body>
 <%- body %>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</html>